// Notice the file name: _variables.scss
// The _ tells the compiler to ignore this file.
// This file is imported in the index.scss file so we don't need to compile it.
// This is called a partial scss file.


// Variable Names
$--theme-background: --theme-background;




// Light Theme Styles
$theme-map-light: (
    $--theme-background: rgb(172, 172, 172)
);

// Dark Theme Styles
$theme-map-dark: (
    $--theme-background: black
);
